atk-*
cairo-*
curl-*
fftw-*
gdk-pixbuf-*
gettext-*[!patch]
glib-*
gtk+-*[!patch]
gtkdatabox-*[!patch]
jansson-*
jpeg-*
libcroco-*
libepoxy-*
libffi-*
libiconv-*
libpng-*
librsvg-*
libusb-*
meson-*
pango-*
pixman-*
sysroot-*
zlib-*
